// Variables
$brand: #880000;
$brandlight: #990000;
$brandlighter: #DD0000;
$white: #FDFDFD;
$grey: #ccc;
$greydark: #222;
$dark: #333;
$md-width: 768px;
$sm-width: 486px;

// Milligram < - css lib
// https://tympanus.net/Development/CreativeLinkEffects/ < - links effects
@import "mgextension";
@import "codrops";

body {
  margin: 0;
  padding: 0;
  background: #fafbfc;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 1280px;
  &.container-fw {
    max-width: 100%;
  }
}

header {
  margin-top: 1em;
  margin-bottom: 18px;
}

header .heading {
  padding: 32px 0.5em 0 32px;
  font-size: 1.4em;
  a {
    letter-spacing: 0.01em;
    font-weight: bold;
    color: #616161;
    transition: all 0.2s ease;
    &:hover {
      color: #999;
    }
  }
}

.contact {
  padding: 32px 32px 0 0;
}

.grid {
 column-count: 4;
}

// Navigation
nav {
  width: 100%;
  float: left;
  margin: 0 auto;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 2em;
  min-width: 12.5em;
  border-top: 1px dotted $white;
  a {
    padding: 0 2em;
    margin: 0 1em;
    height: 47px;
	  line-height: 47px;
    position: relative;
    display: inline-block;
    color: #aaa;
    transition: all 0.6s ease;
    &:hover, &.active {
      color: #555;
    }
    &:before, &:after {
      color: #aaa;
      background: #aaa;
    }
  }
}

// Content
a {
  color: #800;
  transition: color 0.2s;
}

.date {
  display: block;
  padding-bottom: 2em;
  font-size: 0.7em;
  font-style: italic;
  color: #555;
}

h2 span {
  display: block;
  font-size: 0.5em;
  color: #AAA;
}

h4 span {
  display: block;
  font-size: 0.6em;
}

.post .readme {
  color: $brandlight;
  font-size: 0.9em;
  border-bottom: 1px dotted $brandlight;
}

.post {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  h4 {
    letter-spacing: 0.01em;
    font-weight: bold;
    color: $dark;
  }
  .title {
    margin-bottom: 0;
    font-size: 4.6rem;
    line-height: 1.2;
  }
  .post-inner {
    padding: 1em;
    background: #fff;
    margin: 0 auto 2rem;
    text-align: left;
    color: $dark;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    &.enlarged {
      max-width: 80%;
    }
    h3, h4 {
      font-weight: bold;
      font-size: 1.8em;
    }
    box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0,0,0,.1);
  }
  p {
    font-size: 0.9em;
  }
  pre {
    border-color: $brand;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

.pagination {
  width: 100%;
  clear: both;
  text-align: center;
  li {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 0;
    &.active {
      padding-top: 1px;
    }
  }
  a, span {
    display: block;
    width: 38px;
    height: 38px;
    background: $dark;
    color: $white;
    text-align: center;
    font-size: 1.5em;
    transition: all 0.2s ease;
  }
  a:hover {
    opacity: 0.8;
  }
  span {
    background: transparent;
    color: $dark;
    font-weight: bold;
    background: #eee;
  }
}

// Footer
footer {
  text-align: center;
  padding-bottom: 45px;
  font-size: 0.8em;
}

// Doodads
.button-red {
  background-color:#800;
  border-color: #800;
}
.button-red.button-clear,
.button-red.button-outline {
  background-color: transparent;
  color: #800;
}
.button-red.button-clear {
  border-color: transparent;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.fa {
  margin-left: 0.4em;
  font-size: 1.3em!important;
  transition: all 0.2s ease;
  cursor: pointer;
  color:#9e9e9e;
}

/// Animations
.enter-animation { opacity: 0; animation: fade-in 0.2s 0.8s ease-in forwards; }
@keyframes fade-in {
    from {opacity:0;}
    to {opacity:1;}
}

/// Responsive
@media (min-width: 40.0rem) {

  .post .post-inner {
    padding: 3em;
  }

}

@media (min-width: 80.0rem) {

  .post .post-inner {
    max-width: 60%;
    margin: 0 auto 65px;
  }

}