// Variables
$brand: #880000;
$brandlight: #990000;
$brandlighter: #DD0000;
$white: #FDFDFD;
$grey: #ccc;
$greydark: #222;
$dark: #333;
$md-width: 768px;
$sm-width: 486px;

// Extenstion for milligram
@import "mgextension";

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: 'Spectral', serif;
}

.featured {
  // ...
}

.heading {
  margin-bottom: 0;
  float: left;
  padding: 0.9em 0.5em 0 0.6em;
  a {
    letter-spacing: -0.05em;
    font-weight: bold;
    color: $dark;
  }
}

main {
 column-count: 3;
}

// Navigation
nav {
  float: right;
  margin: 0 0 0 1.4em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  min-width: 12.5em;
  border-top: 1px dotted $white;
  ul {
    list-style: none;
    padding: 0;
    margin: 0.9em 0 0;
  }
  li {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  a {
    padding-right: 2em;
    font-weight: bold;
    display: block;
    color: $dark;
    transition: all 0.2s ease;
    font-family: arial;
    &:hover {
      color: $brandlighter;
    }
  }
}

// Content
h2 span {
  display: block;
  font-size: 0.5em;
  color: #AAA;
}

h4 span {
  display: block;
  font-size: 0.6em;
}

.post .readme {
  color: $brandlight;
  font-size: 0.9em;
  border-bottom: 1px dotted $brandlight;
}

.post {
  font-family: arial;
  display: inline-block;
  //padding: 1rem;
  width: 100%; 
  margin-bottom: 1.5rem;
  background:  #efefef;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  h4 {
    letter-spacing: 0.01em;
    font-weight: bold;
    color: $dark;
  }
  .post-inner {
    padding: 1em;
  }
  p {
    font-size: 0.9em;
  }
  pre {
    border-color: $brand;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Footer
footer {
  text-align: center;
  padding-top: 1em;
  font-size: 0.8em;
}

// Responsive overrides
@media (min-width: $md-width) {
  
  .sticky-header, .sticky-feature {
    position: fixed;
  }

}