@import "milligram/milligram";

$brand: #880000;
$brandlight: #990000;
$white: #fff;
$grey: #ccc;
$greydark: #222;
$tabletPortrait: 768px;

.row .column.column-33, .row .column.column-34,
.row .column.column-66, .row .column.column-67 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: $tabletPortrait) {
  .row .column.column-33, .row .column.column-34 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .row .column.column-66, .row .column.column-67 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: 'Spectral', serif;
}

header {
  position: relative;
}

@media (min-width: $tabletPortrait) {
  .row header {
  &.column.column-33, &.column.column-34 {
      max-width: 256px;
    }
  }
}

.heading {
  width: 100%;
  padding: 3em 0 1em;
  margin-bottom: 0.5em;
  float: left;
  border-bottom: 1px solid $grey;
}

.sticky-header {
  position: static;
  top: 0;
}

@media (min-width: 768px) {
  .sticky-header {
    position: fixed;
  }
}

nav {
  float: left;
  ul {
    list-style: none;
    padding: 0;
    margin: 1.5em 0 0;
  }
  li {
    padding: 0;
    margin: 0;
  }
  a {
    padding-right: 2em;
    display: block;
    color: $brand;
    transition: all 0.2s ease;
    &:hover {
      color: $brandlight;
    }
  }
}

h2 span {
  display: block;
  font-size: 0.5em;
}

h4 span {
  display: block;
  font-size: 0.6em;
}

.post a {
  color: $brandlight;
  font-size: 0.9em;
  border-bottom: 1px dotted $brandlight;
}

.posts {
  padding-top: 2em;
  pre {
    border-color: $brand;
  }
}

footer {
  text-align: center;
  padding-top: 1em;
  font-size: 0.8em;
}